{{#each products }}
<div class="row">
  {{#each this}}
  <div class="col-lg-4 col-6">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" class="img-thumbnail" alt="">
      <div class="card-body">
        <h4 class="card-title">{{this.title}} </h4>
        <p class="card-text">{{this.description}} </p>
        <div class="card-body row text-center">
          <div class="col">
            <div class="text-value-xl">${{this.price}}</div>
          </div>
          <div class="vr"></div>
          <div class="col">
            <div class="text-value-xl"><a href="/add-to-cart/{{this._id}} " class="btn btn-primary">Add Card</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

</div>
{{/each}}